@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Sahitya:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Playfair Display', serif;
}

body {
    margin: 0;
    background: linear-gradient(to top left, #667992, #cad9ee);
}

.cover-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.tt {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
    margin: 50px 55px; 
    flex-wrap: wrap; 
}

.assortment {
    max-width: 750px;   
    height: 440px;
    padding: 20px;     
    background-color: rgba(248, 248, 248, 0.8); 
    border-radius: 15px; 
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2); 
    line-height: 1.8; 
    font-family: 'Montserrat', sans-serif;      
    box-shadow: 0 0 30px #cee0eb;
    cursor: default;
}

.assortment h2 {
    font-size: 2rem;
    color: #002f6c; 
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 3px solid #003f7f;
    padding-bottom: 10px;
}

.assortment p {
    font-size: 1.1rem;
    color: #667992;
    margin-bottom: 20px; 
    text-align: left; 
}

.assort {
    display: flex;
}

.assortment-img img{
    width: 25%;         
    display: block; 
    height: 185px;     
    width: 180px;
    border-radius: 10px;
    margin-right: 20px;
}

.assortment-right p{
    font-size: 1.1rem;
    color: #667992;
    width: 100%;
    margin-top: 10px;
}


.calendar {
    background-color: rgba(248, 248, 248, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 30px #cee0eb;
    overflow: hidden;
    width: 30%;
    height: 440px;
    color: #003f7f;
    padding: 20px;
    cursor: default;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn {
    cursor: pointer;
}
    
#month-year {
    font-weight: bold;
    font-size: 25px;
}

.weekdays, .days {
    display: flex;
    flex-wrap: wrap;
}

#prevv:hover,
#nextt:hover{
    cursor: pointer;
    transform: scale(1.2);
}
    
.days {
    height: 250px;
}

.weekdays div, .days div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
}

.days div {
    cursor: pointer;
    transition: background-color 0.3s;
}

.days div:hover {
    background-color: #8597af;
    color: white;
}

.days .today {
    background-color: #003f7f;
    color: white;
}

.today:hover {
        transform: scale(1.2);
}

.days .fade {
    color: #555;
}

.text-main {
    width: 100%;
    margin-top: 35px;
    padding: 40px;
    background-color: rgba(248, 248, 248, 0.8);
    border-radius: 15px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    line-height: 1.8;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    box-sizing: border-box;
    box-shadow: 0 0 30px #cee0eb;
}

.text-main p {
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #667992;
    text-align: left;
}

.text-main h2 {
    font-size: 2rem;
    color: #002f6c;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 3px solid #003f7f;
    padding-bottom: 15px;
}

.text-main ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

.text-main ul li {
    font-size: 1.1rem;
    color: #002f6c;
    margin-bottom: 10px;
    position: relative;
    padding-left: 25px;
}

.text-main ul li::before {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    line-height: 1;
    color: #002f6c;
}

.text-main a {
    color: #0050b3;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease, transform 0.3s ease;
}

.text-main a:hover {
    color: #003f7f; 
    transform: translateY(-2px);
}
